{% INCLUDE 'overall_header.html' %}

<a name="maincontent"></a>

<h1>{{ lang('ACP_STEMPEL_SETTINGS') }}</h1>

<form name="acp_stempel_refresh_form" method="post" action="{{ U_ACTION }}">
    <fieldset>
        <dl>
            <dt>
                <label for="anszlus_stempel_enabled">
                    Pobierz nowe wartości ze Stempla (Dane aktualizują się same co 3 godziny, wystarczy poczekać.)
                </label>
            </dt>
            <dd>
                <input class="button1" type="submit" id="submit" name="submit" value="Pobierz" />
            </dd>
        </dl>
    </fieldset>
    <input type="hidden" name="acp_stempel_refresh" value="1">
    {{ S_FORM_TOKEN }}
</form>

<form id="acp_board" method="post" action="{{ U_ACTION }}">
    <fieldset>
        <dl>
            <dt><label for="anszlus_stempel_enabled">{{ lang('ACP_STEMPEL_SHOW_PROFILE_LINK') }}</label></dt>
            <dd>
                <input type="radio" class="radio" name="anszlus_stempel_enabled" value="1" {% if ANSZLUS_STEMPEL_ENABLED
                    %}checked="checked" {% endif %} /> {{ lang('YES') }} &nbsp;
                <input type="radio" class="radio" name="anszlus_stempel_enabled" value="0" {% if not
                    ANSZLUS_STEMPEL_ENABLED %}checked="checked" {% endif %} /> {{ lang('NO') }}
            </dd>
        </dl>

        <!--         
        <dl>
            <dt><label for="anszlus_stempel_enabled">{{ lang('ANSZLUS_STEMPEL_API_KEY') }}</label></dt>
            <dd>
                <input type="text" name="anszlus_stempel_country_id" value="{{ ANSZLUS_STEMPEL_API_KEY }}">
            </dd>
        </dl> 
        -->

        <dl>
            <dt>
                <label for="anszlus_stempel_enabled">{{ lang('ACP_STEMPEL_COUNTRY_ID') }}</label>
                <div style="margin-top: 10px;">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>
                                    Nazwa Kraju
                                    <a href="#" id="show_hide" class="toggle-button"
                                        style="float:right;">pokaż/ukryj</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="collapsible">
                            {% for country in STEMPEL_COUNTRIES %}
                                <tr onclick="document.getElementById('anszlus_stempel_country_id').value = {country.ccn3};">
                                    <td>{country.ccn3}</td>
                                    <td>{country.nazwa.oficjalna}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <style>
                        .collapsible {
                            display: none;
                            transition: all 0.5s ease;
                            /* Animacja */
                        }
                    </style>

                    <script>
                        // Znajdź tbody i przypisz go do zmiennej
                        const tbody = document.querySelector('.collapsible');

                        // Znajdź nagłówek tabeli lub przycisk, który uruchamia animację
                        const toggleButton = document.querySelector('.toggle-button'); // Zmień na odpowiedni selektor lub dodaj event listener gdziekolwiek potrzebujesz

                        // Utwórz funkcję do zwijania i rozwijania tbody
                        function toggleTbody() {
                            if (tbody.style.display === 'none' || tbody.style.display === '') {
                                tbody.style.display = 'table-row-group';
                            } else {
                                tbody.style.display = 'none';
                            }
                        }

                        // Dodaj event listener, który wywoła funkcję toggleTbody po kliknięciu przycisku lub nagłówka
                        toggleButton.addEventListener('click', toggleTbody);
                    </script>
                </div>

            </dt>
            <dd>
                <input type="number" name="anszlus_stempel_country_id" id="anszlus_stempel_country_id"
                    value="{{ ANSZLUS_STEMPEL_STEMPEL_ID }}">
                {% if not STATUS %}BŁĘDNE ID{% endif %}
            </dd>
        </dl>

        <p class="submit-buttons">
            <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
        </p>

        {{ S_FORM_TOKEN }}
    </fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}